@media (max-width: 768px) {
    .header {
        position: absolute;
    }

    .homePage nav {
        display: none;
    }

    .myName {
        text-align: center;
    }

    .ham-menu {
        display: block;
    }

}