* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
}

body {
    background-color: #262626;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header {
    background-color: #262626;
}

.homePage li {
    list-style: none;
}

.homePage a {
    color: #b10a0a;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    text-shadow: 1px 1px #1d1d1da1;
}

.nav-bar {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: all 0.35s ease-in-out;
}

.nav-link:hover {
    color: #e81717;
}

.ham-menu {
    display: none;
    cursor: pointer;
}

.ham-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    margin: 8px auto;
    width: 40px;
    height: 3px;
    background-color: #b10a0a;
    border-radius: 1px;
}

.logo {
    width: 50px;
    height: 50px;
}

.myName {
    position: absolute;
    top: 30%;
    left: 10%;
}

.myName h1 {
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.699);
}

.myName h2 {
    color: rgb(182, 182, 182);
    opacity: 60%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    font-size: 50px;
}

.myName h3 {
    color: #b10a0a;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.button {
    color: #b10a0a;
    cursor: pointer;
    border: 3px solid #b10a0a;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    height: 50px;
    width: 150px;
    font-size: 20px;
    transition: all 0.35s ease-in-out;
}

.button:hover {
    background-color: #e817170c;
    color: white;
}

.aboutMe {
    margin: 80px;
    padding-top: 750px; 
}

.aboutMe h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.699);
}

.aboutMe h2::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 2px;
    margin: 12px;
    background: #b10a0a;
    position: relative;
}

.aboutMe p {
    color: rgba(255, 255, 255, 0.466);
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.aboutMe h4 {
    font-size: 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.466);
}

.aboutMe ul {
    display: block;
    color: rgba(255, 255, 255, 0.466);
    padding-top: 10px;
    padding-left: 40px;
}

#slash {
    color: #b10a0a;
}

.contactMe {
    margin: 80px;
}

.contactMe h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.699);
    padding-top: 200px;
}

.contactMe h2::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 2px;
    margin: 12px;
    background: #b10a0a;
    position: relative;
}

.contactMe p {
    color: rgba(255, 255, 255, 0.466);
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 20px;
}

#emailMe {
    color: #b10a0a;
    cursor: pointer;
    border: 3px solid #b10a0a;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    height: 50px;
    width: 160px;
    font-size: 18px;
    transition: all 0.35s ease-in-out;
}

#emailMe:hover {
    background-color: #e817170c;
    color: white;
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.fa {
    color: #b10a0a;
    cursor: pointer;
    padding: 7px;
    transition: all 0.35s ease-in-out;
}

.fa:hover {
    color: #e81717;
}

.colorIn {
    color: #b10a0a;
    font-weight: 500;
}

.myProjects {
    margin: 80px;
}

.myProjects h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.699);
    padding-top: 200px;
}

.myProjects h2::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 2px;
    margin: 12px;
    background: #b10a0a;
    position: relative;
}

.cards h3 {
    color: rgb(212, 212, 212);
    font-size: 20px;
}

.cards p {
    color: rgba(255, 255, 255, 0.466);
    font-size: 15px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}