* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  --article-load-delay: calc(500ms + 300ms);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.227);
  border: 3px solid #262626;
  border-radius: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626af;
  height: 80px;
  padding: 22px;
  width: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(16px);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  transition: top 0.3s;
}

.logo {
  margin-left: 2rem;
  width: 55px;
  transform: scale(0);
  animation-name: nav-links;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.nav-menu {
  display: flex;
  /* margin: 25px; */
  list-style-type: none;
  /* margin-right: 2rem; */
}

.nav-link {
  display: flex;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Roboto Mono', monospace;
  color: white;
  padding: 10px;
  margin: 0 1rem;
  transition: all 0.35s ease-in-out;
  transform: scale(0);
  animation-name: nav-links;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.nav-container {
  display: none;
}

.nav-link:hover {
  color: #e81717;
}

.nav-button {
  background-color: transparent;
  border: 1px solid #b10a0a;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 90px;
  margin-left: 5px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  transition: all 0.35s ease-in-out;
  transform: scale(0);
  animation-name: nav-links;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.nav-button:hover {
  background-color: #b10a0a2f;
}

.myName {
  padding-left: 15%;
  padding-right: 25%;
  padding-top: 10%;
  min-height: 100vh;
}

.myName h1 {
  font-size: 20px;
  color: #b10a0a;
  font-family: 'Roboto Mono', monospace;
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.myName h2 {
  font-size: 100px;
  color: white;
  font-family: 'Roboto', sans-serif;
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.myName h3 {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.616);
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 300ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.myName p {
  display: inline-block;
  text-align: left;
  max-width: 460px;
  margin-bottom: 25px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.616);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 400ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.greet-btn {
  background-color: transparent;
  border: 1px solid #b10a0a;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  height: 45px;
  width: 120px;
  margin-left: 5px;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.35s ease-in-out;
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 500ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.greet-btn:hover {
  background-color: #b10a0a2f;
}

.aboutMe {
  padding-left: 15%;
  padding-right: 25%;
  padding-top: 20%;
  min-height: 100vh;
}

#slash {
  color: #b10a0a;
}

.aboutMe h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

.aboutMe h2::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 2px;
  margin: 12px;
  background: #b10a0a;
  position: relative;
}

.aboutMe h4 {
  color: rgba(255, 255, 255, 0.616);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.aboutMe p {
  max-width: 500px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.616);
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.tech-stack {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.616);
}

.tech-stack ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
  list-style: none;
  padding-left: 0pt;
}

.tech-stack li {
  font-size: 14px;
  font-weight: 100;
  list-style-type: none;
  font-family: 'Roboto Mono', monospace;
  margin: 2px;
}

.tech-stack li::before {
  content: "▹ ";
  font-size: 22px;
  color: #b10a0a;
}

.myProjects {
  padding-left: 15%;
  padding-right: 25%;
  padding-top: 10%;
}

.myProjects h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
}

.myProjects h2::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 2px;
  margin: 12px;
  background: #b10a0a;
  position: relative;
}

.myProjects p {
  max-width: 500px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.616);
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.contactMe {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10%;
  margin: 50px;
}

.contactMe h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 40px;
  margin-bottom: 18px;
}

.contact-desc p {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
  max-width: 500px;
  color: rgba(255, 255, 255, 0.616);
}

.contact-email {
  background-color: transparent;
  border: 1px solid #b10a0a;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 130px;
  margin-left: 5px;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.35s ease-in-out;
}

.contact-email:hover {
  background-color: #b10a0a2f;
}

.footer-content {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.content {
  position: absolute;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

.social-icons {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.social-content {
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  color: rgba(255, 255, 255, 0.616);
}

.social-content:hover {
  color: #e81717;
}

.social-icons .fa {
  color: rgba(255, 255, 255, 0.616);
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

.social-icons .fa:hover {
  color: #e81717;
}

.container {
  padding-left: 10%;
  padding-right: 25%;
}

.flex {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 15px;
  margin-top: 60px;
  position: relative;
}

.card {
  background-color: #353535;
  border-radius: 5px;
  height: 400px;
  padding: 1.5rem 0 !important;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.288);
  transition: all 0.35s ease-in-out;
  position: relative;
}

.card:hover {
  transform: translateY(-6px);
}

.card h1 {
  color: #effaff;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  margin-top: 15px;
}

.card p {
  padding: 10px 20px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #effaffb6;
}

.card h4 {
  padding: 10px 20px;
  color: #effaffa1;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-size: 13px;
  position: absolute;
  bottom: 15px;
}

.card-icons {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: none !important;
}

.fa {
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.fa-folder {
  font-size: 35px;
  color: #b10a0a;
}

.fa-brands {
  font-size: 30px;
  color: #b10a0a;
  margin-right: 10px;
}

.fa-external-link {
  font-size: 26px;
  color: #b10a0a;
}

.fa:hover {
  color: #e81717;
}

.reveal {
  position: relative;
  opacity: 0;
  transition: ease-in-out;
}

.reveal.active {
  opacity: 1;
  transition: ease-in-out;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in-out;
  animation-delay: 00ms;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes nav-links {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}