* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #181718;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
}

.homePage {
    height: 100vh;
    width: 100%;
}

/*nav ul {
    position: fixed;
}*/

.homePage nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.homePage li {
    display: inline-block;
    list-style: none;
    margin: 40px 20px;
}

.homePage a {
    text-decoration: none;
    color: #b10a0a;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
}

.homePage a:hover {
    color: #e81717;
    transition: .6s;
}

.logo {
    float: left;
    position: absolute;
    margin: 30px 40px;
    width: 50px;
    height: 50px;
}

.myName {
    position: absolute;
    top: 30%;
    left: 10%;
}

.myName h1 {
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.699);
}

.myName h2 {
    color: rgb(182, 182, 182);
    opacity: 60%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    font-size: 50px;
}

.myName h3 {
    color: #b10a0a;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.button {
    color: #b10a0a;
    cursor: pointer;
    border: 3px solid #b10a0a;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.button:hover {
    background-color: #e817170c;
    color: white;
}

.ham-menu {
    display: none;
    cursor: pointer;
    float: right;
    margin: 40px 40px;
}

.menu {
    display: block;
    margin: 8px auto;
    width: 40px;
    height: 3px;
    background-color: #b10a0a;
    border-radius: 1px;
}

#two {
    margin: 8px auto;
    width: 25px;
    height: 3px;
}

.aboutMe {
    margin: 80px;
}

.aboutMe h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.699);
}

.aboutMe h2::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 2px;
    margin: 12px;
    background: #b10a0a;
    position: relative;
}

.aboutMe p {
    color: rgba(255, 255, 255, 0.466);
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.aboutMe h4 {
    font-size: 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.466);
}

.aboutMe ul {
    display: block;
    color: rgba(255, 255, 255, 0.466);
    padding-top: 10px;
    padding-left: 40px;
}

#slash {
    color: #b10a0a;
}

.contactMe {
    margin: 80px;
}

.contactMe h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.699);
    padding-top: 200px;
}

.contactMe h2::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 2px;
    margin: 12px;
    background: #b10a0a;
    position: relative;
}

.contactMe p {
    color: rgba(255, 255, 255, 0.466);
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 20px;
}

#emailMe {
    color: #b10a0a;
    cursor: pointer;
    border: 3px solid #b10a0a;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    height: 50px;
    width: 160px;
    font-size: 18px;
}

#emailMe:hover {
    background-color: #e817170c;
    color: white;
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.fa {
    color: #b10a0a;
    cursor: pointer;
    padding: 7px;
}

.fa:hover {
    color: #e81717;
}

.colorIn {
    color: #b10a0a;
    font-weight: 500;
}